
.page-titles{
    background: transparent;
    -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0);
    margin-bottom: 0;
}
.page-titles .breadcrumb{
    float: left;
    font-size: 20px;
}
.page-titles .breadcrumb li a{
    font-weight: 500;
    color: #1c1c1e;
}
.page-titles .breadcrumb .breadcrumb-item+.breadcrumb-item:before{
    content: '/';
    color: #1c1c1e;
    font-size: 20px;
}
.page-titles .breadcrumb .breadcrumb-item.active{
    color: #1c1c1e;
    font-weight: 500;
}

.card-header .breadcrumb{
    background-color: #eef2f3;
}
.card-header .breadcrumb li button.btn{
    color: #026eaf;
    font-weight: 500;
    white-space: inherit !important;
}


/* Start Custom style for FormValidation */
.has-success .help-block, .has-success .control-label, .has-success .radio,
	.has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline
	{
	color: #0b0b0b
}

.has-success .form-control {
	border-color: #026eaf;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .form-control:focus {
	border-color: #026eaf;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #026eaf;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #026eaf
}

.has-success .input-group-addon {
	color: #0b0b0b;
	background-color: #dff0d8;
	border-color: #026eaf;
}

.has-success .form-control-feedback {
	color: #0b0b0b;
}

.has-warning .help-block, .has-warning .control-label, .has-warning .radio,
	.has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline
	{
	color: #ffb22b
}

.has-warning .form-control {
	border-color: #ffb22b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-warning .form-control:focus {
	border-color: #ffb22b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ffb22b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ffb22b
}

.has-warning .input-group-addon {
	color: #ffb22b;
	background-color: #fcf8e3;
	border-color: #ffb22b
}

.has-warning .form-control-feedback {
	color: #ffb22b
}

.has-error .help-block, .has-error .control-label, .has-error .radio,
	.has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline
	{
	color: #ef5350
}

.has-error .form-control {
	border-color: #ef5350;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
	border-color: #ef5350;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ef5350;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ef5350
}

.has-error .input-group-addon {
	color: #ef5350;
	background-color: #f2dede;
	border-color: #ef5350
}

.has-error .form-control-feedback {
	color: #ef5350
}

.has-feedback label.sr-only ~.form-control-feedback {
	top: 0
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373
}
.footer {
  background: #2f3d4a;
  color: #8f9aa5; }

.footer .sub-footer {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  padding: 30px 0 0; }
/* End Custom style for FormValidation */

.bubble{
  animation: animateElement linear .3s;
  animation-iteration-count: 1;
  margin-bottom:5px;
  width:100%;
  min-height:30px;
  border-radius:10px;
 }
 
 @keyframes animateElement{
  0% {
    opacity:0;
    transform:  translate(0px,10px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}
